Servicios_Web_1_Semana08/Connected Services/ReferenciaWCFNegocios/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49302/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49302/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49302/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFNegocios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_cliente_InputMessage">
    <wsdl:part name="parameters" element="tns:cliente" />
  </wsdl:message>
  <wsdl:message name="IService1_cliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:clienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_pedidos_InputMessage">
    <wsdl:part name="parameters" element="tns:pedidos" />
  </wsdl:message>
  <wsdl:message name="IService1_pedidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:pedidosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_pedido_cliente_InputMessage">
    <wsdl:part name="parameters" element="tns:pedido_cliente" />
  </wsdl:message>
  <wsdl:message name="IService1_pedido_cliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:pedido_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_pedido_anio_InputMessage">
    <wsdl:part name="parameters" element="tns:pedido_anio" />
  </wsdl:message>
  <wsdl:message name="IService1_pedido_anio_OutputMessage">
    <wsdl:part name="parameters" element="tns:pedido_anioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="cliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/cliente" message="tns:IService1_cliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/clienteResponse" message="tns:IService1_cliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pedidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/pedidos" message="tns:IService1_pedidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/pedidosResponse" message="tns:IService1_pedidos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pedido_cliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/pedido_cliente" message="tns:IService1_pedido_cliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/pedido_clienteResponse" message="tns:IService1_pedido_cliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pedido_anio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/pedido_anio" message="tns:IService1_pedido_anio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/pedido_anioResponse" message="tns:IService1_pedido_anio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cliente">
      <soap:operation soapAction="http://tempuri.org/IService1/cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pedidos">
      <soap:operation soapAction="http://tempuri.org/IService1/pedidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pedido_cliente">
      <soap:operation soapAction="http://tempuri.org/IService1/pedido_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pedido_anio">
      <soap:operation soapAction="http://tempuri.org/IService1/pedido_anio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49302/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>