Servicios_Web_1_Semana08/Connected Services/ReferenciaWCFNegocios/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49302/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFNegocios" />
  <xs:element name="cliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFNegocios" minOccurs="0" name="clienteResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pedidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFNegocios" minOccurs="0" name="pedidosResult" nillable="true" type="q2:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pedido_cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcli" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pedido_clienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFNegocios" minOccurs="0" name="pedido_clienteResult" nillable="true" type="q3:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pedido_anio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pedido_anioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFNegocios" minOccurs="0" name="pedido_anioResult" nillable="true" type="q4:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>